<div class="MyBody">
<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p class = "center">
  All your questions about the application, you can write to the mail arttem_semenov _1997@mail.ru or via vk.com
  <a href="https://vk.com/artyomsemyonov97">contact page</a>.
</p>
</div>