<% if logged_in? %>
  <div class="MyBody">
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
            <%= render 'shared/user_info' %>
        </section>
        <div class = "spaceforbuttom">
          <%= link_to "Создать новое объявление!", new_announcement_path, class: "btn btn-lg btn-primary" %>
        </div>
      </aside>
      <div class="col-md-8">
        <h3>Мои объявления</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
  </div>
<% else %>
  <div class="MyCenter jumbotron">
    <h1>Добро пожаловать в AnnouncementUnion!</h1>
    <br /><br />
    <%= link_to "Зарегиструйтесь сейчас!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  <div align="right">
<%#  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %> 
  </div>
<% end %>
  <!--<provide(:title, "Home")%>-->