<div class="MyBody">
<% provide(:title, "Edit announcement") %>
<h1>Поиск</h1>

  <div class="MyContent">
  
  <% if logged_in? %>
      <%= form_for @announcement, :url => "searchwithparams" do |f|  %>
      <%= render 'shared/error_messages', object: f.object %>
       
        
        <div class="blocks-wrapper">
          <div class="text">
              <p> Категория: </p>
          </div>
          <div class="seldiv">
            <%= f.select :category_id, [['Розыск', 1],['Покупка', 2],['Продажа', 3]] %>
          </div>
  
        </div>
        
          <div class="blocks-wrapper">
          <div class="text">
              <p> Город: </p>
          </div>
          <div class="seldiv">
            <%= f.select :city_id, [['Москва', 1],['Санкт-Петербург', 2],['Нижний Новгород', 3],['Сочи', 4],['Казань', 5],['Ростов-на-Дону', 6]] %>
          </div>
          
        </div>
        
        <div class="blocks-wrapper">
          <div class="text">
              <p> Вид животного: </p>
          </div>
          <div class="seldiv">
            <%= f.select :animalkind_id, [['Кошки', 1],['Собаки', 2],['Попугаи', 3]] %>
          </div>
        </div>
      
          <div class="post">
            <%= f.submit 'Поиск', class: "btn btn-primary" %>
           <%#<%= link_to 'Date', announcements_path , params.merge(f: f) %>
          </div>
          
       <% end %>   
  <% end %>
  </div>
</div>