<li id="announcement-<%= announcement.id %>">
  <%= link_to gravatar_for(announcement.user, size: 50), announcement.user %>
  <span class="user"><%= link_to announcement.user.name, announcement.user %></span>
 
<div class="blocks-wrapper">
<div class="minibloc1">
   <div class="blocks-wrapper">
 
    Категория:
    <div class ="littleblock">
    
    
     <%= @categories.find(announcement.category_id).typeCategory  %>
    </div>
     </div>
    
    <div class="blocks-wrapper">
        
    Город:
    <div class ="littleblock">
      <%= @cities.find(announcement.city_id).name %>
      </div>
      
    </div>
    
      <div class="blocks-wrapper">
    Вид животных:
    <div class ="littleblock">
      <%= @animalkinds.find(announcement.animalkind_id).kind %>
      </div>
    </div>
</div>
  
<%#     <% if announcement.animal.nil? %>
 <%#     Не указано
 <%#   <% else %>
 <%#       <%= announcement.animal.age %>
<%#    <% end %>
    
 <%#    <% if announcement.animal.nil? %>
 <%#     Не указано
<%#    <% else %>
 <%#       <%= announcement.animal.gender %>
 <%#   <% end %>
 <%#   
 <%#    <% if announcement.animal.nil? %>
  <%#    Не указано
  <%#  <% else %>
  <%#      <%= announcement.animal.breed %>
   <%# <% end %>
    
  <%#   <% if announcement.animal.nil? %>
   <%#   Не указано
  <%#  <% else %>
  <%#      <%= announcement.animal.color %>
  <%#  <% end %>
<div class="minibloc2">
    <div class = "littlebuttomspace">
        <%= link_to "Подробнее", announcement, id: "littlebuttom" %>
    </div>
    
     <% if !current_user.announcements.find_by(id: announcement.id) %>
     
        <% if !current_user.favorites.find_by(announcement_id: announcement.id) %>
            <div class = "littlebuttomspace">
                <%= link_to "В избранное", new_favorite_path(:announcement_id => announcement.id), id: "littlebuttom" %>
            </div>
           <% else %>
            <div class = "littlebuttomspace">
                <%= link_to "Удалить из избранного", favorite_path(Favorite.find_by(:announcement_id => announcement.id)), method: :delete, id: "redlittlebuttom" %>
            </div>
        <% end %>
    <% end %>
    <!--, class: "btn btn-lg btn-primary" -->
</div>
</div>
    <div class = "shortimg">
     <%= image_tag announcement.picture.url if announcement.picture? %>
    </div>
 
   
  <span class="timestamp">
    
    Posted <%= time_ago_in_words(announcement.created_at) %> ago.
    <% if current_user.admin? || current_user?(announcement.user) %>
      <%= link_to "delete", announcement, method: :delete, id: "redlittlebuttom",
                                       data: { confirm: "You sure?" } %>
      <%# <%= link_to "edit", edit_announcement_path(announcement) %>
                                       
                                       
    <% end %>
  </span>
</li>