<div class="MyBody">
<% provide(:title, "Edit announcement") %>
<h1>Изменение основной инорфмации объявления</h1>

<div class="MyContent">
  
  <%= render 'shared/edit_short_info' %>
  
  
<div class = "announcement1">
  <div class = "titleannouncement"> Информация про объявление: </div> 
    <div class = "info1">
      <%= form_for(@announcement) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        
          <%= f.text_area :content, class: 'form-control', cols: 30, rows: 7 %>
        
        <b>Ваша текущая картинка: </b>
         
        </br></br>
        
        <span class="content">
          <%= image_tag @announcement.picture.url if @announcement.picture? %>
        </span>
        
        </br></br>
        
        <b>Если хотите заменить выберите новую картинку:</b>
        
        </br></br>
        
        <span class="picture">
          <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        </span>
     
        <div class = "btn-cont1">
          <%= f.submit "Сохранить", class: "btn btn-primary" %>
        </div>
        
      <% end %>
    </div> 
  </div> 
 
    
      
    <div class="blocks-wrapper">
    
      <%= render 'shared/edit_announcemetcontact' %>
      
      <%= render 'shared/edit_announcementaddress' %>
     
    </div>


    <%= render 'shared/edit_animal' %>
      
      </br></br>
</div>

</div>


<script type="text/javascript">
  $('#announcement_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>