
<div class="MyBody" >
<% provide(:title, 'All users') %>
<h1>Все объявления</h1>

<%# <%= render 'users/search_form.html.erb' %>

<div class = "center">
    <%= will_paginate %>
</div> 
    
    <ul class="announcements">
        <%= render @announcements %>
    </ul>
    
<div class = "center">
    <%= will_paginate %>
</div> 

</div>