<div class="MyBody">
    
<% provide(:title, "New announcement") %>
<h1>Создание объявления</h1>
  <h2>Основная информация</h2>

    <div class= "MyContent">
      <div class = "steptext">
        Шаг 1 из 4
      </div>
      <section class="announcement_form">
        <%= render 'shared/announcement_form' %>
      </section>
    
    </div>
</div>


