<div class="MyBody">
<% provide(:title, "Edit announcement") %>
<h1>Полная информация про объявление</h1>

<div class="MyContent">
      
  <%= render 'shared/edit_short_info' %>

  
    <%= render 'shared/edit_announcemet' %>
      
    <div class="blocks-wrapper">
    
    
    <%= render 'shared/edit_announcemetcontact' %>
    
    <%= render 'shared/edit_announcementaddress' %>
     
    </div>
    

    <%= render 'shared/edit_animal' %>
      
      </br></br>
      
</div>

</div>
<script type="text/javascript">
  $('#announcement_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>