<div class="MyBody">
<% provide(:title, "Edit announcement") %>
<h1>Update your announcement</h1>

<div class="MyContent">

    <%= render 'shared/edit_short_info' %>

  
    <%= render 'shared/edit_announcemet' %>
      
    <div class="blocks-wrapper">
         
    <div class = "announcement4">
        <div class = "titleannouncement"> Контактная информация: </div> 
        <div class = "info1">
        
            <%= form_for(@announcement.announcementcontact, html: { multipart: true }) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
                <div class="blocks-wrapper">
                        
                    <div class = "data1">
                          <b>Имя: </b>
                          <%= f.text_field :firstname, class: 'form-control' %>
                          <br>
                           <b>Почта: </b>
                           <%= f.text_field :email, class: 'form-control' %>
                     </div>
                     <br>
                     <div class = "data2">
                           <b>Телефон: 
                           <%= f.text_field :phone, class: 'form-control' %>
                          <br>
                     </div>
                </div>
            
                 <div class = "btn-cont1">
                    <%= f.submit "Сохранить", class: "btn btn-primary" %>
                </div>
            
             <% end %>    
        
        </div>
    </div>
    
    <%= render 'shared/edit_announcementaddress' %>
        
    </div>   

    <%= render 'shared/edit_animal' %> 
</div>

</div>
