<div class="MyBody">
    
    <% provide(:title, "New announcement") %>
    <h1>Создание объявления</h1>
    <h2>Основная ифнормация про контакт</h2>
    <div class= "MyContent">
        
        <div class = "steptext">
            Шаг 4 из 4
        </div>
        
     <%= form_for(@announcementcontact, html: { multipart: true }) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>
  
      <%= f.label "Имя" %>
      <%= f.text_field  :firstname, class: 'form-control' %>

      <%= f.label "Электронная почта" %>
      <%= f.text_field  :email, class: 'form-control' %>
      
      <%= f.label "Телефон" %>
      <%= f.text_field :phone, class: 'form-control' %>
      
    <div class="post">
        <%= f.submit "Создать!", class: "btn btn-primary" %>
    </div>
    
   <% end %> 
        
    </div>
</div>