<%= search_form_for @q do |f| %>

    <%= f.label :name %>
    <%= f.search_field :name %>
    
    <%= f.submit "Search!" %>    
    
   <ul class="users">
          <% @users.each do |user| %>
        <li>
            <%= gravatar_for user, size: 50 %>
            <%= link_to user.name, user %>
        </li>
          <% end %> 
    </ul> 


<% end %>
