<div class="MyBody" >
<% provide(:title, 'All users') %>
<h1>Все пользователи</h1>

<%# <%= render 'users/search_form.html.erb' %>
<div class = "center">
    <%= will_paginate %>
</div>   

    <ul class="users">
        <%= render @users %>
    </ul>
    
<div class = "center">
    <%= will_paginate %>
</div> 
 
</div>

<!-- <ul class="users">
<%#  <% @users.each do |user| %>
    <li>
<%#      <%= gravatar_for user, size: 50 %>
<%#      <%= link_to user.name, user %>
    </li>
<%#  <% end %> 
</ul> !>