<div class="MyBody">
<% provide(:title, 'Sign up') %>
<h1>Регистрация</h1>
<h2>Регистрационные данные</h2>
  <div class="row">

  
  <div class="col-md-6 col-md-offset-3">
  <div class = "steptext">
      Шаг 1 из 2
  </div>
    <%= form_for(@user) do |f| %>
    
    <%= render 'shared/error_messages', object: f.object %><!--%= render 'shared/error_messages' %> -->
      
      <%= f.label "Логин"%>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label "Электронная почта" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label "Пароль" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Подверждение пароля" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%# <%= f.label :firstname, "Name" %>
      <%#<%= f.fields_for :userInformation do |p| %>
      <%#  <%= p.text_field :firstname, class: 'form-control' %>
      <%#<% end %>

      <%= f.submit "Далее", class: "btn btn-primary" %>
      
    <% end %>
  </div>
</div>

</div>