<div class="MyBody">

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for(@user, size: 50) %>
        <%= @user.name %>
      </h1>
      <br>
      <br>
  <div class = "userInfo">
    Имя: <%=@user.userinformation.firstname %>
    <br>
    Фамилия: <%=@user.userinformation.secondname %>
    <br>
    Телефон: <%=@user.userinformation.phone %>
  </div>
    </section>
  </aside>


  <div class="col-md-8">
    <% if @user.announcements.any? %>
      <h3>Announcements (<%= @user.announcements.count %>)</h3>
      <ol class="announcements">
        <%= render @announcements %>
      </ol>
      <%= will_paginate @announcements %>
    <% end %>
  </div>

</div>
</div>
</div>