<%= form_for(@announcement, html: { multipart: true }) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
 
  <div class="blocks-wrapper">
    <div class="text">
      <p> Информация про объявление: </p>
    </div>
    <div class="textAnn">
      <div class="field">
        <%= f.text_area :content, placeholder: "Опишите вашу ситуацию..." %>
      </div>
    </div>
  </div>
  
  <div class="blocks-wrapper">
  <div class="text">
    <p> Картинка: </p>
  </div>
    <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
  </div>
  
  <div class="blocks-wrapper">
    <div class="text">
        <p> Категория: </p>
    </div>
    <div class="seldiv">
      <%= f.select :category_id, [['Розыск', 1],['Покупка', 2],['Продажа', 3],['Найден', 4]] %>
    </div>
    
  </div>
  
    <div class="blocks-wrapper">
    <div class="text">
        <p> Город: </p>
    </div>
    <div class="seldiv">
      <%= f.select :city_id, [['Москва', 1],['Санкт-Петербург', 2],['Нижний Новгород', 3],['Сочи', 4],['Казань', 5],['Ростов-на-Дону', 6]] %>
    </div>
    
  </div>
  
  <div class="blocks-wrapper">
    <div class="text">
        <p> Вид животного в объявлении: </p>
    </div>
    <div class="seldiv">
      <%= f.select :animalkind_id, [['Кошки', 1],['Собаки', 2],['Попугаи', 3]] %>
    </div>
    
  </div>

    <div class="post">
      <%= f.submit "Далее", class: "btn btn-primary" %>
    </div>
    
<% end %>

<script type="text/javascript">
  $('#announcement_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
