<div class="minibloc1">
   <div class="blocks-wrapper">
 
    Категория:
    <div class ="littleblock">
    
    
     <%= @categories.find(@announcement.category_id).typeCategory  %>
    </div>
     </div>
    
    <div class="blocks-wrapper">
    Город:
    <div class ="littleblock">
    
    
      
      <%= @cities.find(@announcement.city_id).name %>
      </div>
    </div>
    
      <div class="blocks-wrapper">
    Вид животных:
    <div class ="littleblock">
    
    
      
      <%= @animalkinds.find(@announcement.animalkind_id).kind %>
      </div>
    </div>
</div>