    <div class = "announcement2">
        
        <div class = "titleannouncement"> Информация про животное: </div> 
        <div class = "info4">
            
       
                
            <div class = "data1">
                   <b>Возраст: </b>
                  <%= @announcement.animal.age %>
                  <br>
                   <b>Пол: </b>
                  <%= @announcement.animal.gender %>
                  <br>
                   <b>Порода: </b>
                  <%= @announcement.animal.breed %>
                  <br>
                  <b>Цвет: </b>
                  <%= @announcement.animal.color %>
             </div>
       
             
              <% if current_user.admin? || current_user?(@announcement.user) %>
               <div class = "btn-cont1">
                   <%= link_to "Изменить", edit_animal_path(@announcement), class: "btn btn-lg btn-primary" %>
               </div>
              <% end %>
         </div>
    </div>