   <div class = "announcement1">
      <div class = "titleannouncement"> Информация про объявление: </div> 
          <div class = "info1">

    
              <div class="field">
                 <textarea disabled>
                  <%= @announcement.content %>
                 </textarea>
              
            </div>
             
              </br></br>
               <%= image_tag @announcement.picture.url if @announcement.picture? %>
               
              <% if current_user.admin? || current_user?(@announcement.user) %>
               <div class = "btn-cont1">
                   <%= link_to "Изменить", edit_announcement_path(@announcement), class: "btn btn-lg btn-primary" %>
               </div>
               <% end %>
           </div>
    </div>
      
    


