
    <div class = "announcement3">
        <div class = "titleannouncement"> Адресс: </div> 
        <div class = "info3">
            
  
                
            <div class = "data1">
                  <b>Улица: </b>
                  <%= @announcement.announcementaddress.street %>
                  <br>
                   <b>Дом: </b>
                  <%= @announcement.announcementaddress.house %>
                  <br>
                    <b>Квартира: </b>
                  <%= @announcement.announcementaddress.apartment %>
                  <br>
             </div>
             
     
             
              <% if current_user.admin? || current_user?(@announcement.user) %>
               <div class = "btn-cont1">
                   <%= link_to "Изменить", edit_announcementaddress_path(@announcement), class: "btn btn-lg btn-primary" %>
               </div>
              <% end %>
         </div>
    </div>
