
    <div class = "announcement4">
        <div class = "titleannouncement"> Контактная информация: </div> 
        <div class = "info2">
            
                
            <div class = "data1">
                  <b>Имя: </b>
                  <%= @announcement.announcementcontact.firstname %>
                  <br>
                   <b>Почта: </b>
                  <%= @announcement.announcementcontact.email %>
                  <br>
                   <b>Телефон: </b>
                  <%= @announcement.announcementcontact.phone %>
                <br>
             </div>

 
              <% if current_user.admin? || current_user?(@announcement.user) %>
               <div class = "btn-cont1">
                   <%= link_to "Изменить", edit_announcementcontact_path(@announcement), class: "btn btn-lg btn-primary" %>
               </div>
              <% end %>
         </div>
    </div>
