<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "Посмотреть профиль", current_user %></span>
<span><%= current_user.announcements.count %> объявлений </span>