<div class="MyBody">
<% provide(:title, "Edit announcement") %>
<h1>Изменение ифнормации про животное</h1>

<div class="MyContent">
  
          
      <%= render 'shared/edit_short_info' %>
    

      <%= render 'shared/edit_announcemet' %>
          
      <div class="blocks-wrapper">
        
        
        <%= render 'shared/edit_announcemetcontact' %>
        
        <%= render 'shared/edit_announcementaddress' %>
         
      </div>
        
    
      <div class = "announcement2">
        <div class = "titleannouncement"> Информация про животное: </div> 
          <div class = "info4">
            
            <div class="blocks-wrapper">
            
            <%= form_for(@announcement.animal) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
                
                <div class = "data1">
                  <b>Возраст: </b>
                   <%= f.text_field :age, class: 'form-control' %>
                  
                  <b>Пол: </b>
                   <%= f.text_field :gender, class: 'form-control' %>
                  
                  <b>Порода: </b>
                   <%= f.text_field :breed, class: 'form-control' %>
                  
                  <b>Цвет: </b>
                  <%= f.text_field :color, class: 'form-control' %>
 
            </div>
          </div>
           <div class = "btn-cont1">
                <%= f.submit "Сохранить", class: "btn btn-primary" %>
           </div>
              <% end %>
        </div>
      </div>

</div>