 <div class="MyBody">
    
    <% provide(:title, "New announcement") %>
    <h1>Создание объявления</h1>
    <h2>Основная ифнормация про животное</h2>
    
    <div class= "MyContent">
        <div class = "steptext">
            Шаг 2 из 4
        </div>
        
     <%= form_for(@animal, html: { multipart: true }) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>


      <%= f.label "Возраст" %>
      <%= f.text_field  :age, class: 'form-control' %>
      
      <%= f.label "Пол" %>
      <%= f.text_field :gender, class: 'form-control' %>
      
      <%= f.label "Порода" %>
      <%= f.text_field :breed, class: 'form-control' %>
      
      <%= f.label "Цвет" %>
      <%= f.text_field :color, class: 'form-control' %>

        
    <div class="post">
        <%= f.submit "Далее", class: "btn btn-primary" %>
    </div>
    
   <% end %>         
        
    </div>
</div>

<script type="text/javascript">
  $('#announcement_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>


  <!--<div class="blocks-wrapper">
      <div class="shorttext">
        <p> <%# <%= f.label :kind %> </p>
      </div>
      
         <%# <%= f.text_field :kind, class: 'form-control' %>
      
  </div>