
<div class="MyBodyforCategory" >

    <% provide(:title, 'All Categories') %>
    <h1>Все виды животных</h1>
    
    <%# <%= render 'users/search_form.html.erb' %> <!--<li>--> <%#<%= link_to category.typeCategory, '#'  %>
    <!--<img src="  <%#<%= asset_path("rails.png") %>"> -->

    <div class="blocks-wrapper">
      
        <% @animalkinds.each do |animalkind| %>
        <% symbol = 'animalkind_%s.jpg' % (animalkind.id) %>
        <ul>
            <div id="textUnderImg">
           <%#  <%= render @categories %>
            <%= link_to image_tag(symbol , alt: "AnnouncementUnion logo"), animalkind %>
            
            <div class="textUnderImg_1">
            <span><%= link_to  animalkind.kind, animalkind %></span>
            </div>
           
            </div>
        </ul>
        
        <% end %>
    
</div>

</div>
