<div class="MyBody">
<% provide(:title, "Edit announcement") %>
<h1>Update your announcement</h1>

<div class="MyContent">
  
    
    <%= render 'shared/edit_short_info' %>

  
    <%= render 'shared/edit_announcemet' %>
      
    
    <div class="blocks-wrapper">
        
    <%= render 'shared/edit_announcemetcontact' %>
    
        <div class = "announcement3">
          <div class = "titleannouncement"> Адресс: </div> 
            <div class = "info3">
                
            <%= form_for(@announcement.announcementaddress) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
                
            <div class="blocks-wrapper">
                    
                <div class = "data1">
                      <b>Улица: </b>
                      <%= f.text_field :street, class: 'form-control' %>
                      <br>
                       <b>Дом: </b>
                       <%= f.text_field :house, class: 'form-control' %>
                 </div>
                 <div class = "data2">
                       <b>Квартира: </b>
                       <%= f.text_field :apartment, class: 'form-control' %>
                      <br>
                 </div>
            </div>
            
                <div class = "btn-cont1">
                    <%= f.submit "Сохранить", class: "btn btn-primary" %>
                </div>
        
            <% end %>
                 
             </div>
        </div>
    </div>
    
     <%= render 'shared/edit_animal' %>
      
</div>
</div>
