<div class="MyBody">
    
    <% provide(:title, "New announcement") %>
    <h1>Создание объявления</h1>
    <h2>Основная ифнормация про адрес</h2>
    
    <div class= "MyContent">
        
        <div class = "steptext">
            Шаг 3 из 4
        </div>
        
     <%= form_for(@announcementaddress, html: { multipart: true }) do |f| %>
     <%= render 'shared/error_messages', object: f.object %>
  
      <%= f.label "Улица" %>
      <%= f.text_field  :street, class: 'form-control' %>

      <%= f.label "№ Дома" %>
      <%= f.text_field  :house, class: 'form-control' %>
      
      <%= f.label "№ Квартиры" %>
      <%= f.text_field :apartment, class: 'form-control' %>
      
    <div class="post">
        <%= f.submit "Далее", class: "btn btn-primary" %>
    </div>
    
   <% end %> 
        
    </div>
</div>