@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

$myPink: #ed8db9;
$myBlue: #7cc7fc;

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.Bo{
  width: 100px;
  height: 100px;
  &:hover {
    background-color: white;
  }  
}

.AA{
  /*background: black;*/
  //background: black;
  
  //background-repeat: repeat;
  //background-size: 700px 300px;
  /*padding-top: 60px;*/
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.MyImg
{
  position:absolute;
}

.img{
  
  position:absolute;
  width: 100px;
  height: 100px;
  background: url(logo.png);
  background-size: 100px 100px;
}

.navbar-inverse {
  border: none;
  border-color: #edeef0;
  background: #edeef0;
  //background: #c0c0c0;
  //background-size: 700px 335px;
  
  /*width: 100%;
  font-size: 3em;*/
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
}

.Tab{
  padding: 20px;
}

.MultiTab{
   padding: 20px;
   padding-right: 250px;
}

#Button{
  /*background: black;*/
  //position: ;
  ///border: 1px solid red;
  ///padding: 10px;
  color: black;
  background: #edeef0;
  //width: 100px;
  height: 68px;
 // border-radius: 5px;
  //margin-top: 5px;
  text-align: center;
  font-size: 20px;
  font-family: Micra;
  padding: 22px 0 0 0;
  font-weight: bold;
  
    &:hover {
    /*color: $gray-medium-light;*/
    //background: #edeef0;
    //font-weight: 1200;
    text-decoration: underline;
    text-decoration-color: #7cc7fc;
    //text-decoration: none;
    }
    
    &:focus {
    //background: #edeef0;//#fff;
    //text-decoration: underline;
    //text-decoration: none;
  }
    
    &:active {
     // background: #edeef0;
      //text-decoration: underline;
    }
 
}


.btn-primary{
  background-color: #7cc7fc;
  //background: cyan;
}

.MyBody {
  //position: relative;
  background: #edeef0;
  margin-left: 15%; //250
  margin-right: 15%; //250
  margin-top: 5%; //150
  margin-bottom: 5%; //100
  padding-bottom: 5%; //100
  padding-top: 50px;
  //padding-left: 50px;
  
  border-radius: 5px;
  overflow-x: hidden;
  
}

.MyContent {
  //position: relative;
  background: #edeef0;
  width: 70%;
  margin-left: 12%;
  margin-top: 50px;
  overflow-x: hidden;
  
  //text-align: center;
  //padding-left: 50px;
  border-radius: 5px;
  
}

.dropdown-menu
{
  background: #edeef0;
  text-align: center;
  
  &:focus{
    background: #edeef0;
    text-decoration: none;
  }
  &:hover {
    /*color: $gray-medium-light;*/
      background: #edeef0;
    }
    
  &:active {
    background: #edeef0;
  }

}


#MyButton{
  font-size: 20px;
  font-family: Micra;
  font-weight: bold;
  
  text-align: center;
    
  &:hover {
    /*color: $gray-medium-light;*/
    //background: #edeef0;
    //font-weight: 1200;
    text-decoration: underline;
    text-decoration-color: #7cc7fc;
    //text-decoration: none;
    }
}


/* universal */

body {
  //background: linear-gradient(#7cc7fc, #3053ff);//#3053ff
  background: #7cc7fc;
  /*background-size: cover;*/
  //background: #f2dcad;
  //background-size: 700px 300px;
  padding-top: 100px;
  
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  //margin-top: 120px;
  //margin-left: 25%;
  //padding-top: 80px;
  //width: 1000px;
  //height: 400px;
  h1 {
    margin-bottom: 10px;
  }
  //margin-bottom: 200px;
}

.MyCenter{
  text-align: center;
  //padding: 100px;
  //margin-top: 120px;
  
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 80px;
  width: 1000px;
  height: 400px;
  h1 {
    margin-bottom: 10px;
  }
  margin-bottom: 200px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 30px;
  color: black;
  //text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 7px;
  font-weight: bold;
  padding-left: 30px;

  //position: absolute;
 //top: 25px;
  
  /*margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;*/
  &:hover {
    color: #3053ff;//#fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    padding-left: 100px;
  }
  section.announcement_form{
    padding-left: 100px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 35px;
    box-shadow: 0px 0px 2px 0px ; 
    width:50px; 
    height:50px; 
    border: 2px #ffffff;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
   //border: 5px solid darkblue;
   //height: 150px;
   //width: 50%;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    padding-left: 30px;
    margin-left: -40px;
    border-bottom: 1px solid #7cc7fc;//#e8e8e8;
    //border-radius: 5px;
    //border-bottom: 1px solid $gray-lighter;
  }
    .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 35px;
    box-shadow: 0px 0px 2px 0px ; 
    width:50px; 
    height:50px; 
    border: 2px #ffffff;
  }
}

/* announcements */

.announcements {
 
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-bottom: 1px solid #7cc7fc;//#e8e8e8;
    padding-left: 30px;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
   
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 35px;
    box-shadow: 0px 0px 2px 0px ; 
    width:50px; 
    height:50px; 
    border: 2px #ffffff;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.navbar {
    transition: all 0.4s;
}

.navbar-nav{
  padding-left: 100px;
  padding-right: 100px;
}




#textUnderImg {
position: relative;
}

.textUnderImg_1 {
position: absolute;
bottom: 45%;
left: 35%;
text-transform: uppercase;
text-decoration: none;
color: #c9c9c9;
width: 300px;
 :hover { 
    text-decoration: none; 
   } 
}

.textUnderImg_1 span {
font: bold 24px/44px Helvetica, Sans-Serif;
background: #00000094;
padding: 8px;
}

.seldiv {
  background: $myBlue;
  height: 50px;
  width: 200px;
  //border-radius: 5px;
  padding: 10px;
  font-size: 22px;
  color: black;  
}

.textAnn{
  width: 500px;
}

.text{
  width: 150px;
}

.blocks-wrapper 
{
  display:flex;
}

.post
{
  margin-top: 50px;
  //left: 50%;
  //margin-left: 25%;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); 
}

textarea {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


.category{
  color: black; 
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: 20px;
}

.category_edit{
  margin-top: 20px;
  color: black; 
  font-weight: bold;
  margin-left: 5px;
  font-size: 3em;
}

.area{
  //margin-left: 5px;
  weight: 250px;
}

.shorttext{
  width: 50px;
}

.userInfo{
  width: auto;
  height: auto;
  font-size: 16px;
  //position: relative;
  //margin-left: 00px;
  //margin-top: 15%;
  //margin-left: -300px;
  background: white;
  border-radius: 5px;
}

.announcement1{
  
}

.announcement2{
  margin-top: 100px;
  margin-right: 20px;
}

.announcement3{
 margin-top: 100px;
 padding-left: 40px;
}

.announcement4{
 margin-top: 100px;
 //margin-left: 20px;
}

.info1{
  width: auto;
  height: auto;
  background: white;
  border-radius: 5px;
  text-align: center;
}

.info2{
  width: 450px;
  height: auto;
  background: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.info3{
  width: 450px;
  height: auto;
  background: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.info4{
  width: 450px;
  height: auto;
  background: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 250px;
  //padding-left: 100px;
  padding-top: 10px;
  
}

.data1{
  margin-left: 10px;
  padding: 5px;
  width: auto;
  height: auto;
}

.data2{
  //margin-left: 30%;
  width: auto;
  padding: 5px;
  height: auto;
}

.btn-cont1 {
  width: 100%;
  height: 30px;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.buttonAnnouncement {
  width: 80px;
  height: 30px;
}

.titleannouncement{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  
}

#littlebuttom{
  width: 100px;
  height: 25px;
  color: black;
  background-color: #7cc7fc;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  border-radius: 5px;
  margin-top: 50px;
  
  
     &:hover {
    /*color: $gray-medium-light;*/
    //background: #edeef0;
    //font-weight: 1200;
    text-decoration-color: #7cc7fc;
    //text-decoration: none;
    }
    
    &:focus {
    //background: #edeef0;//#fff;
    //text-decoration: underline;
    //text-decoration: none;
  }
    
    &:active {
     // background: #edeef0;
      //text-decoration: underline;
    }
  
}

#redlittlebuttom{
  width: 100px;
  height: 25px;
  //border: 3px solid red;
  background: #ff7878;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  border-radius: 5px;
  margin-top: 50px;
  color: black;
     &:hover {
    text-decoration: underline;
    text-decoration-color: red;
    }

}


.littlebuttomspace{
  margin-top: 15px;
  margin-bottom: 10px;
}

.littleblock{
  margin-left: 10px;
  width: auto;
  height: auto;
  font-weight: bold;
  padding: -5px;
}

.bold{
  //font-weight: bold;
}

.minibloc1{
  margin-top: 10px;
  padding: 5px;
  width: 200px;
  height: 70px;
  background: white;
  border-radius: 5px;
}

.minibloc2{
  padding: -5px;
  margin-left: 40px;
  width: auto;
  height: auto;
  padding-top: -10px;

}

.shortimg{
  width: auto;
  height: auto;
  margin-left: 50px;
  margin-top: 10px;
}
.spaceforbuttom{
  margin-left: 75px;
}
.steptext{
  margin-bottom: 50px;
  font-size: 20px;
  color: #95969e;
}

.MyBodyforCategory {
  //position: relative;
  background: #edeef0;
  //margin-left: 15%; //250
 // margin-right: 15%; //250
  margin-top: 5%; //150
  margin-bottom: 5%; //100
  padding-bottom: 5%; //100
  padding-top: 50px;
  //padding-left: 50px;
  
  border-radius: 5px;
  overflow-x: hidden;
  
}
