
<div class="MyBodyforCategory" >
    <% provide(:title, 'All Categories') %>
    <h1>Все категории объявлений</h1>
    
    <%# <%= render 'users/search_form.html.erb' %> <!--<li>--> <%#<%= link_to category.typeCategory, '#'  %>
    <!--<img src="  <%#<%= asset_path("rails.png") %>"> -->

   <div class="blocks-wrapper">
       
        <% @categories.each do |category| %>
        <% symbol = 'category_%s.jpg' % (category.id) %>
        
        <ul>
            <div id="textUnderImg">
               <%#  <%= render @categories %>
                <%= link_to image_tag(symbol, alt: "AnnouncementUnion logo"), category %>
                
                <div class="textUnderImg_1">
                <span><%= link_to  category.typeCategory, category %></span>
                </div>
            </div>
         </ul>    
        <% end %>
       
    </div>
    
</div>








