<div class="MyBody">
<% provide(:title, "Edit user") %>
<h1>Обновите свои личные данные</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user.userinformation) do |f| %>
    
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :firstname %>
      <%= f.text_field :firstname, class: 'form-control' %>

      <%= f.label :secondname %>
      <%= f.text_field :secondname, class: 'form-control' %>

      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>


      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a class="btn btn-primary" href="http://gravatar.com/emails" target="_blank" class="MyCenter">change</a>
    </div>
  </div>
</div>
</div>