<div class="MyBody">
<% provide(:title, 'Sign up') %>
<h1>Информация про себя</h1>
<h2>Допольнительная информация (опционально)</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <div class = "steptext">
      Шаг 2 из 2
    </div>
    
    <%= form_for(@userinformation) do |f| %>
    
    <%= render 'shared/error_messages', object: f.object %>
    
    
    <%# <%= f.label :firstname, "Name" %>
    <%#<%= f.fields_for :userInformation do |p| %>
    <%#  <%= p.text_field :firstname, class: 'form-control' %>
    <%#<% end %>
    
        <%= f.label :firstname, "Имя" %>
        <%= f.text_field :firstname, class: 'form-control' %>
    
        <%= f.label :secondname, "Фамилия" %>
        <%= f.text_field :secondname, class: 'form-control' %>
        
        
        <%= f.label :phone, "Телефон" %>
        <%= f.text_field :phone, class: 'form-control' %>
        
    
    
        <%= f.submit "Сохранить информацию", class: "btn btn-primary" %>
      
    <% end %>
  </div>
</div>
</div>
