
<header class="navbar navbar-fixed-top navbar-inverse">
  <div>
  </div>
    <div class="container">
      <div class="MyImg">
      <%= link_to image_tag("logo.png", width: 250, height: 68, alt: "AnnouncementUnion logo"),
              root_path %>
      </div>
      <%# <%= link_to "AnnouncementUnion", root_path, id: "logo" %>
    <nav>
      
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Поиск", search_path, id: "Button" %></li>
          <li><div class="Tab"></div></li>
        <% end %>
        <li><%= link_to "Главная", root_path, id: "Button" %></li>
        <li><div class="Tab"></div></li>
        <!--<li><%#<%= link_to "Помощь", help_path, id: "Button" %></li>
        <li><div class="Tab"></div></li>!-->
        <% if logged_in? %>
      
        <li><%= link_to "Избранное", favorites_path, id: "Button" %></li>
        <li><div class="Tab"></div></li>
        <li><%= link_to "Категории", categories_path, id: "Button" %></li>
        <li><div class="Tab"></div></li>
         <li><%= link_to "Виды животных", animalkinds_path, id: "Button" %></li>
        <li><div class="Tab"></div></li>
           
           <li><%= link_to "Объявления", announcements_path, id: "Button" %></li>
           <li><div class="Tab"></div></li>
           
          <li><%= link_to "Пользователи", users_path(:search => ""), id: "Button" %></li>
          <li><div class="Tab"></div></li>
          
          <li class="dropdown">
            <a href="#" id= "Button" class="dropdown-toggle" data-toggle="dropdown">
              Профиль <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Информация", current_user, id: "MyButton" %></li>
              <li><%= link_to "Настройки", edit_user_path(current_user), id: "MyButton"%></li>
              <li><%= link_to "Личные данные", edit_userinformation_path(current_user), id: "MyButton"%></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Выход", logout_path, method: "delete", id: "MyButton" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Вход", login_path , id: "Button"%></li>
        <% end %>
      </ul>
    </div>
    </nav>

</header>



<!--root_path
<!
  <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
<li><div class="Tab"></div></li>
  <div class= "AA">
  </div>
  
  -->